/*Paul Irisish Resets https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    text-align: center;
}

/*Color constants 
http://colormind.io/
*/
:root {
    --font-primary: #d0dcc8;
    --background-highlight: #368370;
    --background-box: #0a2f37;
    --background-acent: #f58a17;
    --background-boarder: #ca220b;
    --font-family: 'Roboto';
}
* {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
}

.main-container{
    font-family: "roboto", sans-serif;
    padding: 20px; 
    background-color: #0a2f37;
}